*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
TAGS
others/
.agents/
.codex/
loongarch-investigation/
riscv-hal-reservese/
xv6-loongarch-exp-main/
xv6-riscv-xv6-riscv-rev5/.claude/
xv6-riscv-xv6-riscv-rev5/.openclaude/
xv6-riscv-xv6-riscv-rev5/others/